h2 {
    color: #2e4e46;
    font-family: Arial;
    font-size: 50px;
    letter-spacing: 5px;

}

h3 {
    color: #2e4e46;
    font-size: 50px;
    letter-spacing: 5px;
}

input[type="submit"] {

    padding: 3px;
    font-style: italic;
    font-size: 18px;
    color: #485F6E;
    background-color: #A5D6D9;
    cursor: pointer;
}

input[type="text"] {
    font-style: italic;
    width: 60%;
    height: 25px;


/*     font-size: 18px; */

}

b {
    color: #050505;
    font-size: 20px;
    letter-spacing: 1px;
    font-style: italic;


}

body {
    background-color: #cccccc;
}

th {
    background-color: #11707c;
    color: white;
    height: 25px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    padding: 5px;
    letter-spacing: 5px;
}

a {
    color: #050505;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;
}

a:link {
  text-decoration: none;
}

button {
    padding: 10px;
    font-family: Arial;
    font-style: italic;
    font-size: 18px;
    color: #485F6E;
    background-color: #A5D6D9;
}

button:hover {
    background-color: #00e6e6;
}

h1{
    font-size: 7rem;
    text-align: center;
    height:20vh;
    line-height: 20vh;
    color: #fcedd8;
    background: #117b7c;
    font-family: 'Niconne', cursive;
    font-weight: 170;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb,
                0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1),
                0 0 5px rgba(146, 9, 9, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3),
                0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)

}


.comment {
    color: #050505;
    font-size: 1.2rem;
    padding: 8px;
    background-color:#5cd6d605;
}


.ans_mes {
    width:20%;
}

.Accepted {
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
    !important;
}

.Rejected {
    background-color: red;
    padding: 10px;
    text-align: center;
    !important;
}

.None {
    background-color: orange;
    padding: 10px;
    text-align: center;
    !important;
}
