<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tag to question</title>

</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleCSS_add_tag.css') }}">
    <a href = "{{ url_for('index') }}"><h1>AskMate2</h1></a>
    <h3>Please specify tag you want to add</h3>
    <form method="post" action="{{ url_for("add_new_tag_end", question_id = question_id) }}">
        <input type="submit" value="Add Tag"><br>
        <select name="tags" id="tags">
            {% for tag in tags %}
                <option value="{{ tag["name"] }}">{{tag["name"]}}</option>
            {% endfor %}
        </select>

    </form>
</body>
</html>