<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete question</title>

</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/styleCSS_delete_question.css') }}">
<body>
<a href = "{{ url_for('index') }}"><h1>AskMate2</h1></a>
<h2>Please confirm to delete below question (and related answers):</h2><br>
<br>
<table>
    <tr>
        {%  for header in headers %}
        <th><b>{{header}}</b></th>
        {% endfor %}
            <br>
    </tr>
    <tr>
        {% for question in question.values() %}
        <th>{{question}}</th>
        {% endfor %}
    </tr>

</table>



    <br><br><br>
    <a href = "{{ url_for("delete_question_end", question_id = question_id) }}"> Delete </a> <!--redirect to functionPYTHON which remove the question and redirect to main page-->
    <br>
    <a href = "{{ url_for("see_question", question_id = question_id, view_add=False) }}"> Cancel </a> <!--redirect to pageHTML with the question-->

</body>
</html>