<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{{ url_for('static', filename='css/styleCSS_user_list.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Delete answer</title>

</head>
<style>
    h1 {width:100%}
</style>
<body>
Please confirm to delete below answer:<br>
<br>
<table>
    <tr>
        {%  for header in headers %}
        <th><b>{{header}}</b></th>
        {% endfor %}
            <br>
    </tr>
    <tr>
        {% for answer in answer.values() %}
        <th>{{answer}}</th>
        {% endfor %}
    </tr>

</table>



    <br><br><br>
    <a href = "{{ url_for("delete_answer_end", answer_id = answer_id, question_id = answer["question_id"]) }}"> Delete </a> <!--redirect to functionPYTHON which remove the question and redirect to main page-->
    <br>
    <a href = "{{ url_for("see_question", question_id = answer["question_id"],view_add=False) }}"> Cancel </a> <!--redirect to pageHTML with the question-->

</body>
</html>