<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* formatiowanie tabeli style CSS*/
        table {
            border: 1px solid black;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            width: 10%;
        }

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleCSS_index.css') }}">
    <meta charset="UTF-8">
    <title>Ask mate</title>
</head>
<body>
<h1>AskMate3</h1>
{% if user == "default_user" %}
    <h3>Welcome in Ask Mate!!!</h3>
    <button type="button"><a href="{{ url_for("login") }}">Login</a></button>
    <button type="button"><a href="{{ url_for("register") }}">Register</a></button>
{% else %}
    <h3>Hello {{ user }}!!</h3>
    <button type="button"><a href="{{ url_for("logout") }}">Logout</a></button>
    <button type="button"><a href="{{ url_for("list_users") }}">See users here</a></button>
    <button type="button"><a href="{{ url_for("user_page", user_id = user_id) }}">See your user page</a></button>
{% endif %}

<form method=" GET">
    <br><br>
    <input type="text" name="search">
    <input type="submit" value="Search question message">
</form>
<h2> Please find questions below</h2>


<form method="GET" action={{ url_for("index") }}>
    <label>Sorting by</label>
    <select name="sorted" id="sorted">
        {% for header in headers[:5] %}
            <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>

    <label>Sorting order</label>
    <select name="order" id="order">
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
    </select>

    <input type="submit" value="Sort">
</form>

{#    <a href = "{{"/?sorted=Sorting by&order=Sorting order"}}"> Sort data </a>#}

<br><br>

<table>
    <tr>
        <th>ID</th>
        <th>Submission Time</th>
        <th>Title</th>
        <th>Tag</th>
        <th>View number</th>
        <th>Vote number</th>

    </tr>
</table>

{% for quest in questions %}
    <table>
        <tr>
            <th>{{ quest["id"] }}</th>
            <th> {{ quest["submission_time"] }}</th>
            <th>
                <button type="button"><a
                        href="{{ url_for("see_question", question_id = quest["id"], view_add=True) }}"> {{ quest["title"] }} </a>
                </button>
            </th>
            <th>
                <!-- display tags for current questions -->
                {% for tag in tags %}
                    {% if quest["id"] == tag["question_id"] %}
                    <a href =" {{  url_for("display_by_tag", tag_name=tag["name"]) }} "> {{ tag["name"] }} </a>,
                    {% endif %}
                {% endfor %}
            </th>
            <th>{{ quest["view_number"] }} </th>
            <th>{{ quest["vote_number"] }}</th> <!--display table with questions-->
        </tr>
    </table>
{% endfor %}

<br><br>
{% if user != 'default_user' %}
    <button type="button"><a href="{{ url_for("add_question") }}">Add new question</a></button>
    <!-- przekierowanie do wskazanego pliku HTML, url_for to bezpieczniejszy sposób niz sztywny adres -->
{% endif %}


</body>
</html>
