<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/StyleCSS_login.css') }}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
        <a href = "{{ url_for('index') }}"><h1>AskMate2</h1></a>
    {% if register == "register" %}


        <form action="{{ url_for('register') }}" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Provide email...">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Provide password...">
        <h3>Agree with terms of rules? </h3>
        <div id="register_rules">
        <input class = "radio-input" type="radio" id="Yes" name="Rules" value="Yes">
        <label class = "radio-label" for="Yes">Yes</label>
            <br />
        <input class = "radio-input"type="radio" id="No" name="Rules" value="No" checked>
        <label class = "radio-label" for="No">No</label>
        </div>
            <br />
        <button type="submit">Register</button>
        </form>

    {% elif register == "login" %}

        <form action="{{ url_for('login') }}" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Provide email..."><br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Provide password..."><br>
        <button type="submit">Login</button>
        </form>

    {% elif register == "is user" %}

        <h3>Sorry, there is currently user with such e-mail!</h3>
        <button type="submit"><a href="{{ url_for("index") }}">Back to main menu</a></button>


    {% elif register == "registered" %}

        <h3>Welcome in AskMate, our new user!</h3>
        <button type="submit"><a href="{{ url_for("index") }}">Back to main menu</a></button>


    {% elif register == "logged" %}

        <h3> Hello! Welcome in AskMate dear {{ user }}! </h3>
        <button type="submit"><a href="{{ url_for("index") }}">Back to main menu</a></button>

    {% elif register == "no_user" %}

        <h3> There is no user like this </h3>
        <button type="submit"><a href="{{ url_for("index") }}">Back to main menu</a></button>

    {% elif register == "wrong_data" %}

        <h3> Wrong login data! </h3>
        <button type="submit"><a href="{{ url_for("index") }}">Back to main menu</a></button>



    {% endif %}
</body>
</html>